<% layout('templates/layout') -%>

    <div class="container">
      <div class="row">
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
                <th>學員代號</th>
                <th>姓名</th>
                <th>護持班級</th>
                <th>護持班職稱</th>
                <th>護持狀態</th>
                <th>異動日期</th>
                <th>開班日期</th>
                <th>封班日期</th>
                <th>母班</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
                <th>學員代號</th>
                <th>姓名</th>
                <th>護持班級</th>
                <th>護持班職稱</th>
                <th>護持狀態</th>
                <th>異動日期</th>
                <th>開班日期</th>
                <th>封班日期</th>
                <th>母班</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            var value = "";
            $('#example').hide();
            $('#example').DataTable( {
                //(加速)Feature control deferred rendering for additional speed of initialisation.                
                "deferRender":    true,   
                "data": <%-JSON.stringify(data)%>,
                "columns": [
                    { "data": "學員代號" },
                    { "data": "姓名" },
                    { "data": "護持班級" },
                    { "data": "護持班職稱" },
                    { "data": "護持狀態" },
                    { "data": "異動日期" },
                    { "data": "開班日期" },
                    { "data": "封班日期" },
                    { "data": "母班" },
                ],
                
                "lengthMenu": [ [10, 25, 50, -1],[10, 25, 50, "All"] ],
                "oLanguage": {
                    "sLengthMenu": " _MENU_ 筆/頁",
                    "sZeroRecords": "找不到符合的資料。",
                    "sInfoEmpty": "共 0 頁",
                    "sSearch": "搜尋",
                    "sInfoFiltered": " - 找到 _TOTAL_ 筆 資料",
                },
            } );

            //隱藏分頁、列長選單、筆數資訊
            $('div.dataTables_paginate').hide();            
            $('div.dataTables_info').hide();
            $('div.dataTables_length').hide();
            
            $('#example').on('search.dt', function() {
                var value = $('.dataTables_filter input').val();
                if (value === "") {
                    $('#example').hide();
                    $('div.dataTables_paginate').hide();
                    $('div.dataTables_info').hide();
                    $('div.dataTables_length').hide();
                }
                else {
                    $('#example').show();
                    $('div.dataTables_paginate').show();
                    $('div.dataTables_info').show();
                    $('div.dataTables_length').show();
                }
            }); 
        } );            	
    </script>    