<% layout('templates/layout') -%>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='/classinfo'">班級資訊</button>
          <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='/pplcount'">班級人數統計</button>
          <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='/meminfo'">所有學員查詢</button>
          <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='/cadreinfo'">現任班幹部查詢</button>
          <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='/memexp'">學員參與班級經歷</button>
          <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='/cadreexp'">班幹部護持經歷</button>
        </div>

      </div>
    </div>